:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  --bright-blue: #15F2C3;
  --peaceful-blue: #98E8D2;
  --tan: #DAC4B4;
  --salmon: #CB7C84;
  --purple: #5F19A6;
  --palette-primary: var(--purple);
  --palette-secondary: var(--salmon);
  --palette-tertiary: var(--bright-blue);
  --palette-light-background: var(--tan);
}

h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

button.primary{
  background-color: var(--palette-primary);
  color: white;
}

.controls {
  display: block;
  margin: 2rem 0 0 0;

  :disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }
}

form {
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  .form-group {
    margin-bottom: 2rem;
  }
  small {
    display: block;
  }
}

section {
  border-left: 1px solid var(--palette-tertiary);
  padding-left: 1rem
}
